#SidePanel {
    position: absolute;
    z-index: 100;
    width: 300px;
}

    #SidePanel.hideSidePanel {
    }

    #SidePanel .showSidePanelBtn {
        width: 50px;
        height: 50px;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 2em;
        color: darkblue;
    }


.ng-pageslide .hideSidePanelBtn {
    float: right;
    font-size: 15px;
}

    .ng-pageslide .hideSidePanelBtn:hover {
        color: red;
        float: right;
    }


.ng-pageslide {
    width: 300px;
    height: 100%;
    background-color: #009999;
}

    .ng-pageslide .sidepanel-content {
        padding: 10px;
    }

    .ng-pageslide .error {
        color: red;
    }

    .ng-pageslide .slider {
        background: #BABABA;
    }
#form {

    margin-left: 50px;
    width: 500px
}

.indent {

    margin-left: 50px;
}

.move-down {
    margin-top: 100px;
}