<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms: Registration Form</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#forms">Forms</a></li>
        <li role="presentation" class="active"><a href="#fields">Fields</a></li>
    </ul>
    <div class="form-responsive">
        <form class="form-horizontal">
            <div ng-repeat="field in model.fields" class="row topForm">
                <div class="col-xs-7">
                    <form>
                        <div class="form-group">
                            <label>{{field.label}}</label>

                            <div ng-switch on="field.fieldType">
                                <input ng-switch-when="Text" type="text" placeholder="field.placeholder">
                                <textarea ng-switch-when="Textarea" class="form-control" rows="3"></textarea>
                                <input ng-switch-when="Date" type="date">
                                <select ng-switch-when="Options">
                                    <option ng-repeat="option in field.options">{{option}}</option>
                                </select>
                                <div class="checkbox" ng-switch-when="Checkboxes">
                                    <label ng-repeat="option in field.options">
                                        <input type="checkbox" value="">
                                        {{option}}
                                    </label>
                                </div>
                                <div class="radio" ng-switch-when="Radios">
                                    <label ng-repeat="option in field.options">
                                        <input type="radio">
                                        {{option}}
                                    </label>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="col-xs-5">
                    <span href="#" class="glyphicon glyphicon-pencil"></span>
                    <span href="#" class="glyphicon glyphicon-plus"></span>
                    <button ng-click="removeField(field)" href="#" class="glyphicon glyphicon-remove"></button>
                    <span href="#" class="glyphicon glyphicon-menu-hamburger"></span>
                </div>
            </div>
            <label for="AddNewField" class="control-label">Add New Field</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <select ng-model="model.fieldType" class="form-control" type="text" name="AddNewField" id="AddNewField">
                        <option value="1">Single Line Text</option>
                        <option value="2">Multi Line Text</option>
                        <option value="3">Date</option>
                        <option value="4">Dropdown</option>
                        <option value="5">Checkboxes</option>
                        <option value="6">Radio buttons</option>
                    </select>
                </div>
                <div>
                    <button ng-click="addField(model.fieldType)" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>