<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms: Registration Form</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#forms">Forms</a></li>
        <li role="presentation" class="active"><a href="#fields">Fields</a></li>
    </ul>
    <div class="form-responsive">
        <form class="form-horizontal">
            <label for="inputFirstName" class="control-label">First Name</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                </div>
                <div>
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-align-justify"></scan>
                    </a>
                </div>
            </div>
            <label for="inputLastName" class="control-label">Last Name</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                </div>
                <div>
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-align-justify"></scan>
                    </a>
                </div>
            </div>
            <label for="inputDateofBirth" class="control-label">Date of Birth</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="date" class="form-control" id="inputDateofbirth" placeholder="Select Date">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th " id="date"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-align-justify"></scan>
                    </a>
                </div>
            </div>
            <label for="inputGender" class="control-label">Gender</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <select class="form-control" type="text" name="inputGender" id="inputGender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div>
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-align-justify"></scan>
                    </a>
                </div>
            </div>
            <label for="inputRoles" class="control-label">Roles</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <div class="checkbox" id="inputRoles">
                        <label>
                            <input type="checkbox" value="Admin" id="CheckAdmin"> Admin
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" value="Student" id="CheckStudent"> Student
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" value="User" id="CheckUser"> User
                        </label>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-align-justify"></scan>
                    </a>
                </div>
            </div>
            <label for="inputLicense" class="control-label">License Agreement</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <div id="inputlicense">
                        <input id="yes" type="radio" name="yes"/> <label for="yes">Yes</label><br>
                        <input id="no" type="radio" name="no"/> <label for="no">No</label>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-align-justify"></scan>
                    </a>
                </div>
            </div>
            <label for="AddNewField" class="control-label">Add New Field</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <select class="form-control" type="text" name="AddNewField" id="AddNewField">
                        <option value="1">Single Line Text</option>
                        <option value="2">Date</option>
                        <option value="3">Dropdown</option>
                        <option value="4">Checkboxes</option>
                        <option value="5">Radio buttons</option>
                        <option value="6">Paragraph Text Field</option>
                    </select>
                </div>
                <div>
                    <a href="#" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>