<div id="Post">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="" ng-click="goToHome()">
                    <span id="logo">Free Food</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-sm-7">
            <div class="register-form">
                <h2>Post Free Food Event</h2>
                <br />
                <label>Event title</label>
                <span class="error">{{post.errors.title}}</span>
                <input type="text"
                       class="form-control"
                       ng-model="post.title"
                       placeholder="Event Title"
                       ng-change="validatePostTitle()"
                       ng-focus="validatePostTitle()" />
                <br />
                <label>Event description</label>
                <span class="error">{{post.errors.desc}}</span>
                <textarea
                       class="form-control"
                       ng-model="post.desc"
                       placeholder="Event Description"
                       ng-change="validatePostDesc()"
                       ng-focus="validatePostDesc()">
                </textarea>
                <br />
                <label>Offering type</label>
                <select class='form-control' ng-model='post.offeringType'>
                    <option selected value='0'>Charity</option>
                    <option value='1'>Saved Food</option>
                    <option value='2'>Promotional</option>
                </select>
                <br />
                <label>Food type</label>
                <select class='form-control' ng-model='post.foodType'>
                    <option selected value='0'>Cooked</option>
                    <option value='1'>Raw Produce</option>
                </select>
                <br />
                <label>Place</label>
                <span class="error">{{post.errors.place}}</span>
                <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result" details='post.place' options='options'/>
                <br />
                {{loc}}
                <br />
                <label>Date</label>
                <span class="error">{{post.errors.date}}</span>
                <div class="input-group date" data-provide="datepicker">
                    <input type="time"
                           ng-model='post.date.checkOut'
                           ng-change="validatePostDate()"
                           ng-focus="validatePostDate()"class="form-control" id="date" placeholder="Select Date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th " id="dateicon"></span>
                    </div>
                </div>
                <br />
                <label>Time From :</label>
                &nbsp;
                hour:
                <select ng-model="post.time.from.hr"  type="text" name="time" id="hr1">
                    <option selected ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12]" value="n">{{n}}</option>
                </select>
                min:
                <select ng-model="post.time.from.min"  type="text" name="time" id="min1">
                    <option selected ng-repeat="n in [5,10,15,20,25,30,35,40,45,50,55,0]">{{n}}</option>
                </select>

                <select ng-model="post.time.from.merd"  type="text" name="time" id="am/pm1" value="1">
                    <option  value="am">AM</option>
                    <option  value="pm">PM</option>
                </select>

                <br />

                <label class="control-label">Time Till :</label>
                &nbsp;
                hour:
                <select ng-model="post.time.till.hr"  type="text" name="time" id="hr2">
                    <option selected ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12]" value="n">{{n}}</option>
                </select>
                min:
                <select ng-model="post.time.till.min"  type="text" name="time" id="min2">
                    <option selected ng-repeat="n in [05,10,15,20,25,30,35,40,45,50,55,00]">{{n}}</option>
                </select>

                <select ng-model="post.time.till.merd"  type="text" name="time" id="am/pm2" value="1">
                    <option  value="1">AM</option>
                    <option  value="2">PM</option>
                </select>
                <br />

                <input type="button"
                       class="btn btn-default btn-primary"
                       value="Post"
                       ng-click="PostEvent()" />
                <br />

                <label class="success">
                    {{message}}
                </label>
            </div>
        </div>

    </div>

    <footer class="footer">
        Copyright © 2015. All rights reserved.
    </footer>
</div>