#Post {
}

    #Post .navbar {
    }

    #Post .register-form {
    }

    #Post .login-form,.forgot-password-form {
        margin-top: 100px;
    }

    #Post footer {
        text-align: center;
        padding: 15px;
        margin-top: 20px;
        height: 50px;
    }

    #Post .error {
        color: red;
        float: right;
    }


    #Post .success {
        color: green;
        float: right;
    }

    #Post .authentication-error{
        color:red;
    }

    #Post .float-right{
        padding-top:7px;
        float:right
    }